<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">迎新专栏 </a>
        </li>
        <li>
            <a href="index1.html">馆长寄语</a>
        </li>
        <li>
            <a href="index2.html">读者须知</a>
        </li>
        <li>
            <a href="index3.html">馆舍导航</a>
        </li>
        <li>
            <a href="index4.html">开放时间</a>
        </li>
        <li>
            <a href="index5.html">馆藏资源</a>
        </li>
        <li>
            <a href="index6.html">服务指南</a>
        </li>
        <li>
            <a href="index7.html">规章制度</a>
        </li>
        <li>
            <a href="index8.html">教师荐书</a>
        </li>
        <li>
            <a href="index9.html">移动图书馆</a>
        </li>
        <li>
            <a href="index10.html">文献检索课</a>
        </li>
        <li>
            <a href="index11.html">知识一小时讲座</a>
        </li>
        <li>
            <a href="index12.html">图书馆文化</a>
        </li>
        <li>
            <a href="index13.html">活动预告</a>
        </li>
        <li>
            <a href="index14.html">联系我们</a>
        </li>

    </ul>
</nav>